<IfModule mod_rewrite.c>
	RewriteEngine On
	Options -Indexes
	#RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
	#RewriteRule ^(.*)$ http://%1/$1 [R=301]
	
	ErrorDocument 403 http://estacion1/ecom_crucijuegos/salas/esp/error.php
	ErrorDocument 404 http://localhost:8383/CrucijuegosWeb/index.html
	ErrorDocument 500 http://estacion1/ecom_crucijuegos/salas/esp/error.php
	
</IfModule>
<IfModule mod_headers.c>
  Header always append X-Frame-Options SAMEORIGIN
</IfModule>

